{{> header }}

<section role="banner">
    <div class="homeslide">
        <img src="{{API_URL}}{{data.Banner.url}}" alt="home banner" />
        <!-- <img src="./images/Mobile_Banner.png" alt="home banner" class="_mobile"> -->
        <div class="_caption">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">{{data.BannerHeading}}</h2>
            <span class="wow fadeInUp" data-wow-delay="0.4s">{{data.BannerDescription}}</span>
            <a href="javascript:void(0);" class="modal-toggle">
                <button class="wow fadeIn" data-wow-delay="0.5s">Register Here To Connect With Us</button>
            </a>
        </div>
    </div>
</section>
<!--banner section-->

<!--first section-->
<section role="first section">
    <div class="_first_section">
        <div class="_max_width">
            <div class="_inner_first">
                <div class="_left">
                    <p class="wow fadeInUp" data-wow-delay="0.3s">
                        {{data.DiscoverIntro}}
                    </p>
                    <a href="{{data.DiscoverButtonLink}}">Discover more <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>
                </div>
                <div class="_right">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay="0.3s">
                            <img src="{{API_URL}}{{data.DiscoverIcon1.url}}" />
                            <h4>{{data.DiscoverIcon1Text}}</h4>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s">
                            <img src="{{API_URL}}{{data.DiscoverIcon2.url}}" />
                            <h4>{{data.DiscoverIcon2Text}}</h4>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s">
                            <img src="{{API_URL}}{{data.DiscoverIcon3.url}}" />
                            <h4>{{data.DiscoverIcon3Text}}</h4>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s">
                            <img src="{{API_URL}}{{data.DiscoverIcon4.url}}" />
                            <h4>{{data.DiscoverIcon4Text}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--first section-->

<!--second section-->
<section role="second section">
    <div class="_second_section">
        <div class="_max_width">
            <div class="_inner_second">
                <div class="_left">
                    <img src="{{API_URL}}{{data.HomeIntroImage.url}}" class="wow fadeIn" data-wow-delay="1s" />
                </div>
                <div class="_right">
                    <div class="_caption wow fadeInUp" data-wow-delay="0.3s">
                        <h3> {{data.HomeIntroTextHeading}}</h3>
                        <p style="margin-bottom: 20px">
                            {{data.HomeIntroText}}
                        </p>
                    </div>

                    <div class="_caption wow fadeInUp" data-wow-delay="0.3s">
                        <h3> {{data.HomeIntroJoinTextHeading}}</h3>
                        <p>
                            {{data.HomeIntroJoinText}}
                        </p>
                        <a href="{{data.HomeIntroButtonLink}}">Click Here To Learn More <i
                                class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="_tab_section">
            <div class="_max_width">
                <ul class="tabs">
                    <li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#panel1">{{data.TabHeading1}}</a></li>
                    <li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#panel2">{{data.TabHeading2}}</a></li>
                    <!--<li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#panel3">Enabling Sectors</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="panelContainer">
        <div class="_max_width">
            <div id="panel1" class="panel">
                <div class="_inner_panel">
                    <div class="_left">
                        <img src="{{API_URL}}{{data.HighGrowthBanner.url}}" class="wow fadeIn" data-wow-delay="1s" />
                    </div>
                    <div class="_right _right_s">
                        <div class="_right_right">
                            <ul class="_right_ul">
                                {{#each homeGrowth}}
                                <li>
                                    <img src="{{../API_URL}}{{media.url}}" />
                                    <h2>{{title}}</h2>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel2" class="panel">
                <div class="_inner_panel">
                    <div class="_left">
                        <img src="{{API_URL}}{{data.EconomicCorpBanner.url}}" />
                    </div>
                    <div class="_right _right_s">
                        <div class="_right_right">
                            <ul class="_right_ul">
                                {{#each homeEconomicCorp}}
                                <li>
                                    <img src="{{../API_URL}}{{media.url}}" />
                                    <h2>{{title}}</h2>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panel3" class="panel">
                <div class="_inner_panel">
                    <div class="_left">
                        <img src="./images/IMAGE_2.png" class="wow fadeIn" data-wow-delay="1s" />
                    </div>
                    <div class="_right">
                        <h4>High-Growth Sectors:</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.3s"><strong>Information Technology
                                (IT):</strong>Facilitate collaboration in IT services, cloud computing, and artificial
                            intelligence.</p>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">
                            <strong>Healthcare:</strong>Encourage joint ventures and knowledge sharing in
                            pharmaceuticals, medical devices, and healthcare infrastructure development.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">
                            <strong>Logistics and Supply Chain Management:</strong>Improve trade efficiency by
                            streamlining customs procedures and promoting direct transport links.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.6s"><strong>Food and Agriculture:</strong>Boost trade
                            in agricultural products and explore opportunities for joint farm projects.</p>
                    </div>
                </div>
                <div class="_latest_update">
                    <strong>The latest updates on the UAE-India CEPA Council </strong>
                    <div class="_items wow fadeInUp" data-wow-delay="0.3s">
                        <div class="_card">
                            <img src="./images/IMAGE_3.png" />
                        </div>
                        <div class="_text">
                            <div class="_head">
                                <span>12 June</span>
                                <h4>The 1st Joint Committee Meeting of the UAE-India</h4>
                            </div>
                            <p>The wide ranging deliberations culminated in both sides agreeing to synergise their
                                efforts</p>
                            <a
                                href="https://www.moneycontrol.com/news/photos/world/india-uae-cepa-first-meeting-two-countries-target-100-billion-non-petroleum-trade-by-2030-10787551-2.html">Read
                                More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="_items wow fadeInUp" data-wow-delay="0.3s">
                        <div class="_card">
                            <img src="./images/IMAGE_4.png" />
                        </div>
                        <div class="_text">
                            <div class="_head">
                                <span>18 Feb</span>
                                <h4>One year of this landmark achievement</h4>
                            </div>
                            <p>As both nations stride towards a path of greater growth and</p>
                            <a
                                href="https://www.thehindu.com/news/national/uae-india-business-councils-uae-chapter-launched-on-first-anniversary-of-cepa/article66525807.ece">Read
                                More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="_items wow fadeInUp" data-wow-delay="0.3s">
                        <div class="_card">
                            <img src="./images/IMAGE_5.png" />
                        </div>
                        <div class="_text">
                            <div class="_head">
                                <span>19 Feb</span>
                                <h4>UAE and India sign the CEPA</h4>
                            </div>
                            <p>The India and UAE CEPA is a strategic partnership to mark a new era of economic
                                collabora-</p>
                            <a
                                href="https://www.outlookindia.com/business/india-uae-business-council-launched-to-boost-bilateral-trade-and-investment-news-263572">Read
                                More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="_max_width">
        <div class="_latest_update">
            <strong>{{data.UpdatesSectionHeading}} </strong>
            <div class="slider">
            {{#each latestUpdates}}
                <div>
                    <div class="_items wow fadeInUp" data-wow-delay="0.3s">
                        <div class="_card">
                            <img src="{{../API_URL}}{{getFirstMediaUrl this.media}}" />
                        </div>
                        <div class="_text">
                            <div class="_head">
                                {{#if dateText}}
                                <span>{{dateText}}</span>
                                {{/if}}
                                <h4>{{title}}</h4>
                            </div>
                            <p>{{description}}</p>
                            <a target="_blank" href="{{link}}">Read More <i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
</section>
<!--second section-->

<!--third section-->
<section role="third section">
    <div class="_third_section">
        <div class="_max_width">
            <div class="_inner_third">
                <div class="_left">
                    <h3>{{data.UpcomingEventsHeading}}</h3>
                    <ul>
                        {{#each upcomingEvents}}
                        <li class="wow fadeInUp" data-wow-delay="0.3s">
                            <div class="_calender">
                                <small>
                                    <b></b>
                                    <b></b>
                                </small>
                                {{dateText}}
                                
                            </div>
                            <strong>{{title}} </strong>
                            <p>{{description}}</p>
                            {{#if knowMore}}
                            <a target="_blank" href="{{link}}">Know more <i class=  "fa fa-long-arrow-right"
                                    aria-hidden="true"></i></a>
                                    {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="_right">
                    <img src="{{API_URL}}{{data.UpcomingEventsBanner.url}}" class="wow fadeIn" data-wow-delay="1s" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--third section-->