{{> header }}

<style>
.modal-header{top: -15px;}
.popup_insight ::-webkit-scrollbar {width: 10px;}
.popup_insight ::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #f8f8f8; border-radius: 10px;}
.popup_insight ::-webkit-scrollbar-thumb {background: #0e2950; border-radius: 7px;}
.popup_insight ::-webkit-scrollbar-thumb:hover {background: #0e2950 ; }
.modal-content ._inner_modal ._right h2{margin: 0px 0px 6px;}
.modal-wrapper{width: 1147px;}
._insight_banner_section ._inner_section ._text_section ul{width: 65%;margin: 0 auto;}
.modal-content ._inner_modal ._right{height: 350px;overflow-y: auto;padding-right: 10px;}
.modal-content ._inner_modal ._right ._text_ca{display: inline-flex;margin-bottom: 5px;width: 100%;float: left;}
.modal-content ._inner_modal ._right ._text_ca h3{font-family: 'Epilogue', sans-serif;font-size: 15px;}
.modal-content ._inner_modal ._right ._text_ca p{margin-bottom: 0px;margin-left: 10px;margin-top: -1px;}
.modal-content ._inner_modal ._right ul{width: 100%;float: left;margin-top: 10px;}
.modal-content ._inner_modal ._right ul li{font-family:'Conv_Epilogue-Light';font-size: 13px;list-style-type: disc;margin-bottom: 10px;margin-left: 15px;line-height: 22px;letter-spacing: 0.6px;}
@media (max-width:768px){
.modal-wrapper{width: 90%;}
.modal-content ._inner_modal ._right{height: auto;overflow: inherit;padding-right: 0px;}
}
</style>

<!--banner section-->
<section role="banner section">
    <div class="_insight_banner_section">
        <div class="overlay"></div>
        <div class="_inner_section">
            <div class="_text_section">
                <h2 class="fadeIn" data-wow-delay="0.5s">{{data.Heading}}</h2>
                <ul class="tabs">
                    <li class="current fadeInUp" data-wow-delay="0.5s"><a href="/insights/CaseStudy">Case Study</a></li>
                    {{!-- <li class="fadeInUp" data-wow-delay="0.5s"><a href="/insights/Video">Video</a> </li> --}}
                    <li class="fadeInUp" data-wow-delay="0.5s"><a href="/insights/JediViews">JEDI's Views</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--banner section-->


<!---insight section-->
<section roel="conetnt section">
    <div class="_content_section">
        <div class="_inner_section" id="tabs-content">
            <div class="_tab_section current">
                {{#if ROWS}}
                <ul>
                    {{#each ROWS}}
                    <li class="wow fadeInUp" data-wow-delay="0.5s">
                        <div class="_card_section">
                            <img src="{{../API_URL}}{{this.Media.url}}">
                        </div>
                        <div class="_text_card">
                            <ul>
                                <li><a href="javascript:void(0);">{{this.Tags}}</a></li>
                            </ul>
                            <h2>{{this.Title}}
                            </h2>
                            <span>{{dateHelper this.UploadedOn}}</span>
                            <div class="_btn">
                                {{#if this.Url}}
                                <a href="{{this.url}}" target="_blank">Read more</a>
                                {{else}}
                                <a href="javascript:void(0);"
                                    onclick="_getInsightRow('{{this.id}}', '{{../apiMode}}')">Read more</a>
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>

            {{!-- <div class="_pagination_section">
                <nav>
                    <a href=# disabled>
                        <<< </a>
                            <ul>
                                <li class=current><a href=#1>1</a>
                                <li><a href=#2>2</a>
                                <li><a href=#3>3</a>
                                <li><a href=#4>4</a>
                                <li><a href=#5>5</a>
                                <li><a href=#6>6</a>
                            </ul>
                            <a href=#2>>>></a>
                </nav>
            </div> --}}

        </div>
    </div>
</section>
<!---insight section-->



<div class="modal _leader_modal">
    <div class="modal-overlay modal-toggle"></div>
    <div class="modal-wrapper modal-transition">
        <div class="modal-header">
            <span class="modal-close modal-toggle"><i class="fa fa-window-minimize" aria-hidden="true"></i></span>
        </div>

        <div class="modal-body">
            <div class="modal-content popup_insight" id="insightsModal">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let mode = "{{mode}}"
        $('ul.tabs li').removeClass('current');
        if (mode == "CaseStudy") {
            $('ul.tabs li').eq(0).addClass('current');
        } else if (mode == "Video") {
            $('ul.tabs li').eq(1).addClass('current');
        } else {
            $('ul.tabs li').eq(2).addClass('current');
        }
    }); 
</script>
{{!--
<script>
    $(document).ready(function () {

        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');

            $('._tab_section').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })

    })
</script> --}}