{{> header}}


<!--banner section-->
<section role="banner section">
    <div class="_technology_section"
        style="background: url({{API_URL}}{{data.Banner.url}}) center center/cover no-repeat;"
        data-background="{{API_URL}}{{data.Banner.url}}">
        <div class="overlay"></div>
        <div class="_inner_section">
            <div class="_text_section">
                <h2 class="wow fadeInUp" data-wow-delay="0.5s">{{data.Title}}</h2>
            </div>
        </div>
    </div>
</section>
<!--banner section-->


<!--privacy policy section-->
<section role="privacy policy">
    <div class="_privacy_policy">
        <div class="_inner">

            {{{data.Content}}}

        </div>
    </div>
</section>
<!--privacy policy section-->





<!---find out section-->
<section role="find out section">
    <div class="_find_out_section">
        <div class="overlay"></div>
        <div class="_inner">
            <h2 class="wow fadeIn" data-wow-delay="0.5s">Fnd Out How We Can Help</h2>
            <div class="_btn_sec">
                <p class="wow fadeIn" data-wow-delay="0.2s">Our Services<a href="/services"><img
                            src="images/Jedi_Home_Arrow_Big.png"></a></p>
            </div>
        </div>
    </div>
</section>
<!---find out section-->